<h1 style="color: black">Welcome</h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>User email:</strong>
  <%= current_user.email %>
  <strong>This is the page: pick_ups/index.html.erb</strong>
</p>

<% @packages = Package.all %>
<% @pick_ups = PickUp.all%>
<% @packages.each do |package| %>
  <% @pick_ups.each do |pick_up|%>
    <% if pick_up.user_id == current_user.id && pick_up.package_id == package.id %>
      <strong>Package's Address</strong>
        <p><%= package.address %></p>
      <strong>Package's Address</strong>
        <p><%= package.content %></p>
      <strong>Package's Picked Up</strong>
        <p><%= package.picked_up %></p>
        <!--when I click on the button, I'll call the destroy path(@package)--->
      <p>
          <%= link_to 'Cancell Pick Up', user_pick_up_path({user_id: pick_up.user_id, id: pick_up.id}), method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
      <% end %>
  <% end %>
<% end %>
