<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/vmontenegro7/image/upload/v1646346719/Recy-Buddies/recy-buds-06_sjof1r.png", id:"logo-recy"%>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item active">
            <%= link_to "Be a recycler", root_path, class: "nav-link btn btn-flat" %>
          </li>
          <li class="nav-item active" id="package-button">
            <%= link_to "Add Package", root_path, class: "nav-link btn btn-flat"  %>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class:"avatar-large dropdown-toggle", alt:"avatar-large", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "All Packages", packages_path, class: "dropdown-item" %>
              <% @pick_ups = PickUp.all %>
              <% if @pick_ups.find{|pick_up| pick_up.user_id == current_user.id} %>
                <%= link_to "My Pickups", pick_ups_path, class: "dropdown-item" %>
              <% end %>
              <% @packages = Package.all %>
              <%= link_to "Confirmed Pickups", list_my_picked_up_packages_packages_path, class: "dropdown-item" %>
              <!--<%= link_to "Another action", "#", class: "dropdown-item" %>-->
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-outline-success" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
