<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h2><strong>Log in</strong></h2>

<div class="container row justify-content-center mx-auto" id="container_two">
    <div class = "col-12 col-md-10 col-lg-8">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-inputs-login">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>


    <div class="form-actions btn btn-flat" id="login_button">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
 </div>
<%= render "devise/shared/links" %>
